<div class="profile-page">
    <div class="display-1 pb-5 pl-5 text-white"><%= link_to 'Internal Projects', getinternalprojects_path%></div>
    <div class="display-1 pb-5 pl-5 text-white"><%=link_to 'External projects', projects_path%></div>
    <div class="display-1 pb-5 pl-5 text-white"><%=link_to 'Course Modules', coursemodules_path %></div>
<div>
<footer class="d-flex align-items-center justify-content-center">
    <span class="border border-white span-footer">
        <%= link_to 'Log out', logout_path%>
    </span>
</footer>