<div class="days d-flex col-12 py-5 mb-5 mt-5 pt-5">
    <div class="welcome text-light">Welcome to the the course tracker</div>
</div>
<footer class="d-flex align-items-center justify-content-center">
    <span class="border border-white span-footer">
        <%= link_to 'login', login_path%>
    </span>
    <span class="border border-white span-footer">
        <%= link_to 'Sign Up', new_user_path%>
    </span>
</footer>