/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import 'font-awesome';

header .proj {
  font-size: 78px;
}

header {
  color: aliceblue;
}

header .most-recent {
  font-size: 39px;
}

footer a {
  text-decoration: none;
  color: aliceblue;
}

.most-recent a {
  text-decoration: none;
  color: aliceblue;
}

.days {
  font-size: 37px;
  width: 100%;
}

body {
  background-color: #3778c2;
}

.profile_content {
  height: 115px;
  font-size: 42px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: #5fb523;
  font-size: 53px;
}

.span-footer {
  width: 95%;
  text-align: center;
  height: 77%;
}

::placeholder {
  font-size: 30px;
}

.errors {
  color: aliceblue;
  font-size: 35px;
}

#notice {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 35px;
  color: aliceblue;
}
